streamlit
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
dotenv
gitdb
GitPython
google
google-auth
google-genai
h11
httpcore
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pandas
pillow
plotly
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
python-dateutil
python-dotenv
pytz
RapidFuzz
referencing
regex
requests
rpds-py
rsa
six
smmap
sniffio
soupsieve
SQLAlchemy
tenacity
thefuzz
toml
tornado
typing-inspection
typing_extensions
tzdata
urllib3
websockets
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-tavily==0.2.9
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface