annotated-types
anyio
appnope
asttokens
beautifulsoup4
bs4
certifi
charset-normalizer
click
comm
debugpy
decorator
executing
fastapi
h11
html5lib
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
lxml
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pydantic
pydantic_core
Pygments
python-dateutil
pytz
pyzmq
requests
six
sniffio
soupsieve
stack-data
starlette
tornado
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
uv
uvicorn
wcwidth
webencodings
